body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background: url(/images/blurry-gradient-haikei.png) no-repeat
    center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#wrapper {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
 
 
}

.temp-heading,
#temp,
#feels_like {
  text-align: center;
}

#temp,
#feels_like {
  font-size: 35px;
}

.stroke {
  font-size: 100px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #3343bb;
  font-family: Times New Roman;
  text-align: center;
}

.form_group-3 {
  position: relative;
  margin: 10px auto;
}
.textbox-3 {
  display: inline-block;
  width: 275px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 10px 10px 100px;
  transition: all 0.1s ease-out;
}
.textbox-3 + label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 3px 0 0 3px;
  padding: 0 15px;
  background: #1571cd;
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
}
.textbox-3:focus + label {
  transform: translateY(-120%) translateX(0%);
  border-radius: 3px;
  transition: all 0.1s ease-out;
  height: 20px;
  line-height: 20px;
}
.textbox-3:focus {
  padding: 10px;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
}

.css-button {
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px #3381ed;
  text-shadow: 1px 1px 0px #1571cd;
  box-shadow: inset 1px 1px 2px 0px #97c4fe;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: Arial;
  font-weight: bold;
  background: linear-gradient(180deg, #3d93f6 10%, #1e62d0 100%);
  display: inline-flex;
  align-items: center;
  padding: 0;
  max-width: 11%;
  margin: 0 auto;
}
.css-button:hover {
  background: linear-gradient(180deg, #1e62d0 10%, #3d93f6 100%);
}
.css-button-text {
  position: relative;
  padding: 10px 18px;
}
.css-button-icon {
  position: relative;
  border-left: 1px solid #ffffff29;
  box-shadow: inset rgb(0 0 0 / 14%) 1px 0 0;
  padding: 10px 10px;
}
